Makefile.Release
Makefile.Debug
Makefile
philips-protector.pro.user
philips-protector.pro.user.*
philips-protector.pro.user.*.*
philips-protector.pro.user.*.*.*
philips-protector.pro.user.*.*.*.*
philips-protector.pro.user.*.*.*.*.*
philips-protector.pro.user.*.*.*.*.*.*
.qmake.stash
release/
debug/
philips-protector.exe
philips-protector.exe.manifest
philips-protector.exe.pdb
philips-protector.exe.ilk
philips-protector.exe.log
philips-protector.exe.log.*
philips-protector.exe.log.*.*
philips-protector.exe.log.*.*.*
philips-protector.exe.log.*.*.*.*
philips-protector.exe.log.*.*.*.*.*